name: 24-7 Money Machine
on:
  schedule:
    - cron: '0 */4 * * *' # Automatically runs every 4 hours
  workflow_dispatch:      # Allows you to start it manually for testing

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run Bot
        env:
          PEXELS_API_KEY: ${{ secrets.PEXELS_API_KEY }}
          INSTAGRAM_SESSION_ID: ${{ secrets.INSTAGRAM_SESSION_ID }}
          PINTEREST_TOKEN: ${{ secrets.PINTEREST_TOKEN }}
        run: python bot.py
